﻿@{
    ViewData[ViewConstants.Keys.Title] = "Lista zakupów";
}


<div class="text-center">
    <h1 class="display-4">@ViewData[ViewConstants.Keys.Title]</h1>
    <div class="row">
        @foreach (ShoppingListItem element in ViewBag.ShoppingList)
        {
            <div class="col-xl-3 col-md-6">
                <form action="ShoppingList/RemoveItemFromList" method="delete">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">
                            <div class="form-group">
                                <input hidden class="form-control" type="number" name="id" value="@element.ShoppingListItemId" />
                            </div>
                            Kategoria: @element.Product.ProductCategory
                        </div>
                        <div class="card-body">
                            <p>
                                Produkt: @element.Product.Name <br />
                            </p>
                            <p>
                                Ilość: @element.Quantity
                            </p>
                            Producent: @(string.IsNullOrEmpty(element.Product.Producer) ? "Dowolny" : element.Product.Producer)<br />
                            Szczegóły: @element.Description
                            Dodano: @element.RequestedOn <br />
                            Autor: @element.Requester
                        </div>
                        <div class="card-footer small-text-white">
                            <div class="form-group">
                                <input type="submit" value="Kupione" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
        <div class="col-xl-3 col-md-6">
            <form action="ShoppingList/AddNewShoppingListItem" method="post">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-header">
                        Dodaj produkt
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input hidden class="form-control" type="number" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="productCategoryString">
                                <option selected value="@ProductCategory.Dairy">Nabiał</option>
                                <option value="@ProductCategory.Fat">Tłuszcze</option>
                                <option value="@ProductCategory.Fruit">Owoce</option>
                                <option value="@ProductCategory.Vegetable">Warzywa</option>
                                <option value="@ProductCategory.Grain">Produkty zbożowe</option>
                                <option value="@ProductCategory.Meat">Mięso</option>
                                <option value="@ProductCategory.Drink">Napoje</option>
                                <option value="@ProductCategory.Other">Inne</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nazwa produktu" name="productName" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" placeholder="Ilość" name="quantity" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Szczegóły" name="description" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Producent" name="producer" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Autor" name="requester" />
                        </div>
                    </div>
                    <div class="card-footer small-text-white">
                        <div class="form-group">
                            <input type="submit" value="Dodaj" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


