﻿@{       
    @using SZK.HomeManagement.Shared.Constants;
    ViewData[ViewConstants.Keys.Title] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">@ViewData[ViewConstants.Keys.Title]</h1>
    <p>Tbd soon...</p>
</div>
